rerun.txt
*.swp
*.swo
*.DS_Store
.bundle
db/*.sqlite3
log/*.log
.sass-cache/
tmp/*
public/tmp/*
public/uploads
public/system
dump.rdb
.byebug_history
.idea
log/services/*

config/database.yml
config/database.claire.yml

/node_modules
/yarn-error.log