p = "Bonjour #{@resource.firstname} #{@resource.lastname},"
p
  ' Vous recevez ce mail dans le cadre de la procédure de récupération
  ' de mot de passe pour la connexion à votre compte

p = link_to 'Choisir un nouveau mot de passe', edit_password_url(@resource, :reset_password_token => @token)

p Si vous n'en êtes pas à l'origine, merci d'ignorer ce mail.
p Votre mot de passe ne sera pas changé tant que vous n'en aurez pas créé un nouveau en suivant le lien ci-dessus.

br
p: em L'équipe du projet